@import '../../styles/colors.scss', '../../styles/mixins.scss';

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		color: $light-grey;
	}

	p {
		color: $light-grey;
	}

	section {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		img {
			width: 100px;
			margin: 20px;
		}
	}
}

@media screen and (min-width: 550px) {
	.skills {
		section {
			max-width: 600px;
		}
	}
}