@import '../../styles/colors.scss', '../../styles/mixins.scss';

header {
	height: 75px;
	width: 100%;
	background-color: $black;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	color: $lime-green;
	z-index: 1000;
	
	h1 {
		padding-top: 0;
	}
}